@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
    color: white;
}

.left{
    padding: 10px 10%;
   
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px    
}
 nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
.name{
    color: #ffbd19;
    font-size: 25px;
    font-weight: 600;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ffbd19;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.h-text{
    padding-inline: 10vw;
}
.f-box{
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 600px;
}
.f-text{
    position: relative;
    display: flex;
    justify-content: right;
    align-content: right;
    flex-direction: column;
    min-height: 70vh;
    width: 100%;
    padding-left:200px;
    padding-top: 250px;
}
.f-text-card span{
    
    color: #ffbd19;
    padding: 0px 0px;
    font-size: 50px;
}
.f-name{
    font-size: 40px;
    font-weight: 400;
}
.text-info{
    font-size: 15px;
    margin-bottom: 20px;
}
.text-btn{
    display: flex;
    gap: 25px;
}
.button1{
    background-color: #ffbd19;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    font-weight: 200;
    border-radius: 4px;
    cursor: pointer;
    
}
.button2{
    background-color: #ffbd19;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    font-weight: 300;
    border-radius: 4px;
    cursor: pointer;
}
.all-icons{
    display: flex;
    margin-top: 2rem;
    gap: 40px;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.imagess{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
}
.image{
    margin: auto;
    width: 450px;
    height: 450px;
    margin-top: 80px;
    border-radius: 55% 45% 55% 45%;
    overflow: hidden;
}
.image img{
    width: 450px;
}


.line1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50%;
}
.line2{
    display: flex;
    width: 50%;
}
.t-head{
    text-align: center;
    margin-bottom: 3.5rem;
}
.t-head h1{
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}
@media only screen and (max-width:1024px){
    .image,.image img{
        width: 320px;
        height: 320px;
    }
    .f-text{
        padding: 0;
        
    }
    
}
@media only screen and (max-width:900px){
    .f-box{
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    .f-text{
        width: 100%;
        order: 2;
        justify-content: center;
        align-items: flex-start;
        min-height: 60vh;
    }
   
}
h3{
    font-size: 20px;
    font-weight: 600;
    color: #ffbd19;
    margin-bottom: 1rem;
}
.about-info{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 20px 70px;
    padding-inline: 20px;
    width: 100%;
}
.about-info p{
    text-align: center;
    font-size: 15px;
}
.skills{
    margin: 10px;
}
.skill-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.section{
    height: 90vh;
}

.contact-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    width: 100%;
    height: 280px;
    background-color: #ffbd19;
    color: rgb(0, 0, 0);
    font-size: 17px;
    border-radius: 0.85rem;
}

.line12{
    display: flex;
    justify-content: space-between;
    
}
.line25{
    padding-block: 30px 70px;
    padding-inline: 20px;
    width: 40%;
}
.line26{
    display: flex;
    flex-direction: column;

    padding-block: 30px 70px;
    padding-inline: 20px;
    width: 40%;
    gap: 10px;
}
.f-input{
    display: flex;
    gap: 10px;
}
.input-f{
    width: 50%;
    height: 45px;
    border: 3px solid #ffbd19;
    padding-inline: 20px;
    border-radius: 5px;
    outline: none;
}
textarea{
    width: 100%;
    height: 200px;
    resize: none;
    border: 3px solid #ffbd19;
    border-radius: 5px;
    outline: none;
}
.f-button>.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    width: 15%;
    height: 25px;
}
.f-button>.btn:hover{
    background-color: #ffbd19;
}
button {
    font-size: 15px;
    cursor: pointer;
   
  }

